---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { assertLang } from "../../../lib/lang";

const { lang } = Astro.params;
assertLang(lang);
// Static paths for English and Arabic
export async function getStaticPaths() {
  return [{ params: { lang: "en" } }, { params: { lang: "ar" } }];
}
---

<BaseLayout
  lang={lang}
  title={lang === "en" ? "Cities of Yemen" : "مرصد اطلس "}
>
  <h1 class="text-3xl font-bold mb-6">
    {lang === "en" ? "Cities of Yemen" : "مرصد اطلس "}
  </h1>
</BaseLayout>
